@charset "UTF-8";

html{
  font-size: 100%;
}

body{
  font-family: "Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color:#432;
  /* background-image:url(images/main-bg.jpg); */
  /* background-size: cover; */
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

/* HEADER
------------------------------ */
.logo {
  width: 210px;
  margin-top: 14px;
}

.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li{
  margin-left: 36px;
}

.main-nav a{
  color: #432;
}

.main-nav a:hover{
  color: #0bd;
}

.page-header{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}



.logo-title{
  margin-top: 6px;
  margin-left: 2rem;
  display: flex;
}

.logo-title img{
  /* margin: 0 auto; */
  margin-left:1rem;
  height: 2rem;
  width: auto;
}

.menu{
  display: flex;
  margin-top: -1rem;
  margin-right: 6rem;
  justify-content: flex-end;
  /* text-align: right; */
}

#nav ul{
  text-align: right;
}
#nav li{
  margin-left:1rem;
  list-style: none;
  float:left;
  /* display: flex;   */
  width:60px;
}

/* HOME
------------------------------ */
/* 大きな背景画像 */
.big-bg{
  /* background-image: url(images/main-bg.jpg);
  min-height: 100vh; */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home{
  background-image: url(images/main-bg.jpg), linear-gradient(#c9ffbf, #ffafbd);
  /* background-image: linear-gradient(#c9ffbf, #ffafbd); */
  /* background-color: #0bd; */
  background-blend-mode: luminosity;
  min-height: 100vh;
}

#home .page-title{
  text-transform: none;
}

.home-content{
  text-align: center;
  margin-top: 10%;
}
.home-content p{
  font-size:1.125rem;
  margin: 10px 0 42px;
}

/* 見出し */
.page-title{
  font-size:5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* ボタン */
.button{
  font-size: 1.375rem;
  background: #0bd;
  color:#fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.catch-copy{
  margin-top: 100px;
  text-align: center;
}

.catch-copy h2{
  font-size:2rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}
.catch-copy p{
  margin-top:20px;
  font-size: 0.5rem;
}

.menu-button{
  text-align: center;
  padding-top:8px;
  margin: 0 auto;
  margin-top: 20px;
  height:40px;
  width:200px;
  background-color: rgb(12, 190, 250);
  border-radius: 8px;
}
.menu-button a{
  text-decoration: none;
  color:#ffffff;
}
