<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New comment</title>
  </head>
  <body>
    <h1>Create New comment</h1>
    <form action="/comments" method="POST">
      <section>
        <label for="username">user name</label>
        <input
          id="username"
          type="text"
          placeholder="user name"
          name="username"
        />
      </section>
      <section>
        <label for="comment">comment</label>
        <br />
        <textarea
          name="comment"
          id="comment"
          cols="30"
          rows="5"
          placeholder="input your comments"
        ></textarea>
      </section>
      <button>publish</button>
    </form>
  </body>
</html>
