#news{
    border: 1px solid #489;
    padding: 10px;
}

#news .title{
    border-left: 5px solid #489;
    padding:10px;
    font-size:18px;
    font-weight:bold;
    color:#489;
}

.title{
    color:#fff;
    background-color: #489;
}

/* 子要素のみ反映 */
div > span {
    color: #F80206;
}

.theme-background{
    background: aqua;
}

.theme-border{
    border: 1px solid blue;
}