#lead{
    color:red;
}

.lead{
    color:green; /* こちらが適用 */
}

/* button{
    color:blue;
} */

/* [class="primary"] {
    color:green;
} */

.secondary .primary{
    color:khaki;
}

.primary{
    color: hotpink;
}

/* button:first-child{
    color:green;
}

button:nth-child(2) {
    color: lime;
} */