.introduction{
    /* line-height: 27px; */
    line-height: 1.5;
    font-size:18px;
}

.lead{
    margin-bottom:0.5em;
    text-align: center;
    /* line-height: 54px; */
    font-size:36px;
    font-weight:bold;
}