body{
    margin:0;
}
div{
    height: 300px;
    width: 300px;
    background-color: #fae1dd;
}

h1{
    background-color: pink;
    width: 200px;
    padding-left:100px;
    padding-top:50px;
    margin:0;
}

#one{
    background-color: #ccd5ae;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* box-sizing:border-box; */
    margin-left: 50px;
    margin-bottom: 100px;
}

#two{
    background-color: #faedcd;
    border-color: #ccd5ae;
    border-style: dashed;
    border-left-width: 8px;
    padding-right: 50px;
    margin:200px;
}

#three{
    background-color: #d4a373;
    border: solid 4px black;
    border-left-style:dashed;
    border-radius: 50%;
}

button{
    padding: 10px 20px 30px 40px;
}

span{
    margin-left:30px;
    margin-top:30px;
}