.nav {
  /* display: table;
  width: 100%;
  table-layout: fixed; */
  display: flex;
  list-style: none;
}

.nav__item {
  /* display: table-cell; */
  width: 100%;
}

.nav__item > a {
  display: block;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  background-color: #49e;
  font-weight: bold;
  color: #fff;
}
