/* * {
  color: pink;
  background-color: cyan;
} */

body {
  background-color: #8ecae6;
}
button {
  font-size: 30px;
  background-color: #219ebc;
}

h1,
h2 {
  color: #023047;
}

#signup {
  color: aliceblue;
  background-color: #023047;
}

.post a {
  color: #d8e2dc;
  text-decoration: none;
  font-weight: 700;
}

.tag {
  background-color: #780000;
  color: #fefae0;
  font-size: 16px;
}

footer a {
  color: #780000;
}

h2 + button {
  color: pink;
  text-decoration: underline;
}

footer > a {
  color: #023047;
}

input[type="password"] {
  color: greenyellow;
}

a[href*="google"] {
  color: magenta;
}


.post a:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: aqua;
}

.post:nth-of-type(2n) {
  background-color: #7197a9;
}

h2:first-letter{
  font-size: 50px;
}

p:first-line{
  color:purple;
}

::selection{
  background-color: orange;
}

.post button:hover {
  background-color: #780000;
  color: #d8e2dc;
}

button:hover{
  background-color: olive;
  font-size: 10px;
}