/* * {
  color: pink;
  background-color: cyan;
} */

body {
  background-color: #8ecae6;
}
button {
  font-size: 30px;
  background-color: #219ebc;
}

h1,
h2 {
  color: #023047;
}

#signup {
  color: aliceblue;
  background-color: #023047;
}
