

p{
  border-width: thick;
  border-style: solid;
}

div{
  border-width: 1px 4px 8px 12px;
  border-style: solid;
  border-color: tan #0bd tomato #000;
}

ul{
  list-style-type: lower-roman;
  list-style-position: outside;
}

ol{
  list-style-type: katakana-iroha;
  list-style-position: inside;
}

li{
  background-color: #0bd;
}